PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vibely?retryWrites=true&w=majority

# JWT
JWT_SECRET=vibely_super_secret_key_change_this
JWT_EXPIRES_IN=30d

# Cloudinary (for photo/video/story uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Client URL (for CORS)
CLIENT_URL=*
